<ons-page style="background-color: white">

	<ul class="topcoat-list">		

            
		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator1.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Welcome
		</ons-list-item>            

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator2.html')">
			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Loundry
		</ons-list-item>
		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator3.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Dry Cleaning
		</ons-list-item>            
                <ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator4.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Steam Press
		</ons-list-item>  
                <ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('requestNavigator.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Request
		</ons-list-item>              

	</ul>

</ons-page>
